* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
  scroll-behavior: smooth;
}

body {
  font-family: 'poppins', sans-serif;
  background-color: #081b29;
  color: #ededed;
}

.card {
  width: 300px;
  height: 200px;
  background-color: #1e2a38;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.navbar {
  width: 100%;
  height: 60px;
  background-color: #101316;
  display: flex;
  align-items: center;
  padding: 0 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.navbar div {
  color: #ededed;
  font-size: 1.5rem;
  border: 1px solid #ededed;
}