.about {
    @include section;
    // display: flex;
    // align-items: center;
    // justify-content: space-between;
}

.section-title h2 {
    @include section-title;
}

.about-container {
    height: 100vh - 20vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.about-picture img {
    height: 25rem;
    width: 25rem;
    border-radius: 50%;
    box-shadow: 0 0 20px #0ef;
    // opacity: 0;
    // animation: slideLeft 1s ease forwards;
    // animation-delay: .7s;
    // transition: 1s ease;
}

.about-content {
    max-width: 600px;
}