.header {
   position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1.3rem 10%;
    background: red;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo {
    color: #fff;
    font-size: 2rem;
    font-weight: bolder;
    text-decoration: none;
}