@import url(https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
    scroll-behavior: smooth;
}

body {
    // min-height: 100vh;
    background-color: #081b29;
    font-family: 'poppins', sans-serif;
    color: #ededed;
    overflow-x: hidden;
}

@import './_Navbar.scss';
// @import "./_Hero.scss";
// @import "./_Sections.scss";
// @import "./_Footer.scss";
@import '_keyframesAnimation.scss';
@import '_responsiveMobile.scss';